doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")
    //- link(rel="icon", href="favicon.ico")
    title Todo List
    link(href='http://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400italic,700italic,700,400', rel='stylesheet' type='text/css')
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/styles.css", rel="stylesheet")

  body
    .container
      .page-header
        h1 
          a(href="/") Seal List
      block content
        p.lead A simple Todo List App.
        #todos
          .lead#content
            ul
              for todo in todos
                .row
                  .checkbox.col-xs-10
                    label
                      if todo.is_done
                        input(type="checkbox", data-todo-id="#{todo._id}", value="", checked)
                      else
                        input(type="checkbox", data-todo-id="#{todo._id}", value="")
                      li
                        span.title!= todo.title
                        a.right.edit(href="/todos/#{todo.id}/edit") Edit
                        br
                        span.description!= todo.description
                        br

                  .x-box.col-xs-2
                    .badge
                      form(action="/todos/#{todo._id}?_method=DELETE", method="POST")
                        span.glyphicon.glyphicon-remove#remove-button
        form.form-horizontal#new_todo(action="/new_todo", method="GET")
          .form-group
            .col-xs-10
              button.btn.btn-primary#new_todo + New Item
    footer.footer
      .container
        p.text-muted #{not_done_count} incomplete, #{done_count} complete
        //- p!= done_todos
    script(src='/js/jquery.min.js')
    script(src="/js/bootstrap.min.js")
    script(src="/js/todo.js")